<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-gradient-dark m-0 px-0 pb-0 z-index-1041">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="./assets/img/ap-logo.png" class="mr-2" alt=""> Andhra Pradesh
      Student Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
            aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="index.html">
              <img src="./assets/img/ap-logo.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                    aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav ml-lg-auto">

        <!-- <li class="nav-item">
            <a class="nav-link nav-link-icon" href="#" data-toggle="modal" data-target="#modalLogin">
                <i class="mdi mdi-login mr-2"></i>Login
            </a>
        </li> -->
      </ul>
    </div>

  </div>

</nav>

<div class="card mt-0 border-0 rounded-0 card-department-tabs sticky-top bg-gradient-dark mb-3">
  <div class="card-body p-3">
    <ul class="nav nav-pills nav-justified text-uppercase">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="mdi mdi-home-modern"></i> <span>School
                            Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"> <i class="mdi mdi-teach"></i> <span>Teacher Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="mdi mdi-school"></i> <span>Student Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"><i class="mdi mdi-account-edit"></i> <span>Enrollment
                            Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"><i class="mdi mdi-chart-pie"></i> <span>Impact of Schemes</span></a>
      </li>
    </ul>
  </div>
</div>
