<div class="container-fluid">
  <div class="row" >
    <div *ngFor="let response of Cards['card']" class="col-12  col-xl-{{response['size']}} mb-3">
<div class="card shadow-sm card-sh-overview border-0 h-100">
  <div class="card-header px-3 ch-icon-bg-05">
    <div class="row">
      <div class="col-auto">
        <div class="item-icon">
          <i class="{{ response['imageUrl'] }}"></i>
        </div>
      </div>
      <div class="col align-self-center">
        <h3 class="card-title">{{ response['cardName'] }}</h3>
        <div class="no-of">{{ response['cardValue'] }} </div>
      </div>
    </div>
  </div>

   <div class="card-body py-0 px-3">


    <div class="form-row" *ngFor="let row of response['data']" >

      <div class="col" *ngFor="let thumbnail of row['thumbnailList']">
        <div class="card sub-card border-0 m-0 h-100">
          <div class="card-body">
            <h3 class="card-title">
              {{ thumbnail['nameOfThumbnail'] }}
            </h3>

            <ul class="form-row list-unstyled">

              <li class="col"  *ngFor="let data of thumbnail['thumbnailData']">
                <h4>{{data['value']}}{{data['type']}}</h4>
                <p>{{data['footer']}}</p>
              </li>

            </ul>

          </div>
        </div>
      </div>



    </div>
   </div>
</div>
    </div>
  </div>
</div>





